<script>
	function mathjaxupdate(element, text) {
		const formatte = text.replace(/\n/g, "<br>").replace("[終]", '<p style="text-align: right; padding-right: 10%;">(終)</p>');
		c = 0;
		formatted = "";
		for (const i of formatte.split("$")) {
			if (c == 0) {
				formatted += i;
			} else if (c % 2 == 1) {
				formatted += "\\(" + i;
			} else {
				formatted += "\\)" + i;
			}
			c+=1;
		}
		element.innerHTML = `${formatted}`;
		MathJax.typesetClear();
		MathJax.typesetPromise([element]);
	}
	function latexevent(input, output) {
		const latexCode = input.value;
		mathjaxupdate(output, latexCode);
	}
	
	function listener(input, output) {
		let debounceTimer;
		const debounceDelay = 1000;
		input.addEventListener("input", () => {
			clearTimeout(debounceTimer);
			debounceTimer = setTimeout(() => {
				latexevent(input, output);
			}, debounceDelay);
		});
	}
</script>
