{% extends "math/layout.html" %}
{% block title %}post{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="errorModalLabel">エラー</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul>
				{% if "error.score" in messages %}
					<li>配点が有効ではありません</li>
				{% endif %}
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script>
	const myModal = new bootstrap.Modal(document.getElementById('errorModal'));
	myModal.show();
</script>
{% endif %}
{% endwith %}
<div class="container my-5">
	<div class="card shadow">
		<div class="card-body">
			<h1 class="card-title h3 mb-4">投稿</h1>
			<form method="post">
				<div class="mb-3">
					<label for="title" class="form-label">タイトル</label>
					<input type="text" name="title" id="title" class="form-control" required>
				</div><!--TITLE-->
				<div class="mb-3">
					<label for="content" class="form-label">問題文(LaTeX対応)</label>
					<textarea name="content" id="content" class="form-control" rows="6" required placeholder="\(\text{sample}\)
2次方程式\(\ ax^2+bx+c=0\ (a\neq 0)\ \)の解は\[\ x=\frac{-b\pm\sqrt{b^2-4ac}}{2a} \ \]である。
\[
\int_{-\infty}^{\infty} e^{-x^2} \, dx = \sqrt{\pi}
\]"></textarea>
				</div><!--CONTENT-->
				<div class="mb-3">
					<label for="preview" class="form-label">問題文プレビュー</label>
					<div class="mx-5">
						<div id="preview" class="border rounded bg-white p-3 mx-5" style="min-height: 120px;"></div>
					</div>
				</div><!--PREVIEW-->
				<div class="mb-3">
					<label for="explanation" class="form-label">解答解説(任意)</label>
					<textarea name="explanation" id="explanation" class="form-control" rows="6"></textarea>
				</div><!--EXPLANATION-->
				<div class="mb-3">
					<label for="preview2" class="form-label">解答解説プレビュー</label>
					<div class="mx-5">
						<div id="preview2" class="border rounded bg-white p-3 mx-5" style="min-height: 120px;"></div>
					</div>
				</div><!--PREVIEW2-->
				<div class="mb-3">
					<label for="category" class="form-label">カテゴリ</label>
					<select name="category" id="category" class="form-select" required>
						<option disabled selected value="">選択してください</option>
						<option>数学Ⅰ</option>
						<option>数学Ａ</option>
						<option>数学Ⅱ</option>
						<option>数学Ｂ</option>
						<option>数学Ⅲ</option>
						<option>数学Ｃ</option>
					</select>
				</div><!--CATEGORY-->
				<div class="mb-3">
					<label for="unit" class="form-label">単元</label>
					<select name="unit" id="unit" class="form-select" required>
						<option disabled selected value="">カテゴリを選択してください</option>
					</select>
				</div><!--UNIT-->
				<div class="mb-3">
					<label for="score" class="form-label">配点(1問ずつ改行して配点を入力してください。)</label>
					<textarea name="score" id="score" class="form-control" rows="4" placeholder="5
5
10
10" required></textarea>
				</div>
				<div class="d-grid">
					<button type="submit" class="btn btn-primary mb-5">投稿</button>
				</div>
			</form>
			<div class="mb-3">
				<h5>LaTeXについて</h5>
				"\\("と"\\)"で囲むと文章中に、"\\["と"\\]"で囲むと別行立てで数式が表示されます。
				<h6>主なコマンド</h6>
				詳しくは<a href="https://easy-copy-mathjax.nakaken88.com/all/" style="color: black;">こちら</a>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">意味</th>
							<th scope="col">表示</th>
							<th scope="col">コマンド</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>循環小数</td>
							<td>\(0.\dot{0}\dot{9}\)</td>
							<td>0.\dot{0}\dot{9}</td>
						</tr>
						<tr>
							<td>平方根</td>
							<td>\(\sqrt{x}\)</td>
							<td>\sqrt{x}</td>
						</tr>
						<tr>
							<td>無限大</td>
							<td>\(\infty\)</td>
							<td>\infty</td>
						</tr>
						<tr>
							<td>絶対値</td>
							<td>\(\left|x\right|\)</td>
							<td>\left|x\right|</td>
						</tr>
						<tr>
							<td>ガウス記号</td>
							<td>\([x]\)</td>
							<td>[x]</td>
						</tr>
						
						<tr>
							<td>足す・引く</td>
							<td>\(a+b-c\)</td>
							<td>a+b-c</td>
						</tr>
						<tr>
							<td>掛ける</td>
							<td>\(a \times b\)</td>
							<td>a \times b</td>
						</tr>
						<tr>
							<td>割る</td>
							<td>\(a \div b\)</td>
							<td>a \div b</td>
						</tr>
						<tr>
							<td>プラスマイナス</td>
							<td>\(\pm a\)</td>
							<td>\pm a</td>
						</tr>
						<tr>
							<td>マイナスプラス</td>
							<td>\(\mp a\)</td>
							<td>\mp a</td>
						</tr>
						<tr>
							<td>掛ける</td>
							<td>\(a \cdot b\)</td>
							<td>a \cdot b</td>
						</tr>
						<tr>
							<td>分数</td>
							<td>\(\frac{a}{b}\)</td>
							<td>\frac{a}{b}</td>
						</tr>
						<tr>
							<td>合同式</td>
							<td>\(a \equiv b \pmod n\)</td>
							<td>a \equiv b \pmod n</td>
						</tr>
						<tr>
							<td>大なり</td>
							<td>\(a \gt b\)</td>
							<td>a \gt b</td>
						</tr>
						<tr>
							<td>大なりイコール</td>
							<td>\(a \geq b\)</td>
							<td>a \geq b</td>
						</tr>
						<tr>
							<td>小なり</td>
							<td>\(a \lt b\)</td>
							<td>a \lt b</td>
						</tr>
						<tr>
							<td>小なりイコール</td>
							<td>\(a \leq b\)</td>
							<td>a \leq b</td>
						</tr>
						<tr>
							<td>等しくない</td>
							<td>\(a \neq b\)</td>
							<td>a\neq b</td>
						</tr>
						<tr>
							<td>ほぼ等しい</td>
							<td>\(a \simeq b\)</td>
							<td>a \simeq b</td>
						</tr>
						<tr>
							<td>改行</td>
							<td>\begin{eqnarray}
aaa \\
bbb
\end{eqnarray}</td>
							<td>\\begin{eqnarray}<br>
aaa \\\\<br>
bbb<br>
\\end{eqnarray}</td>
						</tr>
						<tr>
							<td>位置合わせ</td>
							<td>\begin{eqnarray}
x + 2x &=& 3 \\
x &=& 1
\end{eqnarray}</td>
							<td>\\begin{eqnarray}<br>
x + 2x &=& 3 \\\\<br>
x &=& 1<br>
\\end{eqnarray}</td>
						</tr>
						<tr>
							<td>連立方程式</td>
							<td>\begin{eqnarray}
  \left\{
	\begin{array}{l}
	  x + y = 10 \\
	  2x + 4y = 32
	\end{array}
  \right.
\end{eqnarray}</td>
							<td>\\begin{eqnarray}<br>
  \left\{<br>
	\\begin{array}{l}<br>
	  x + y = 10 \\\\<br>
	  2x + 4y = 32<br>
	\\end{array}<br>
  \right.<br>
\\end{eqnarray}</td>
						</tr>
						<tr>
							<td>場合分け</td>
							<td>\begin{eqnarray}
\left|x\right|
 =
  \begin{cases}
	x & ( x \geqq 0 ) \\
	-x & ( x \lt 0 )
  \end{cases}
\end{eqnarray}</td>
							<td>\\begin{eqnarray}<br>
\left|x\right|<br>
 =<br>
  \\begin{cases}<br>
	x & ( x \geqq 0 ) \\\\<br>
	-x & ( x \lt 0 )<br>
  \\end{cases}<br>
\end{eqnarray}</td>
						</tr>
						<tr>
							<td>帰属関係</td>
							<td>\(x \in A\)</td>
							<td>x \in A</td>
						</tr>
						<tr>
							<td>帰属関係2</td>
							<td>\(A \ni x\)</td>
							<td>A \ni x</td>
						</tr>
						<tr>
							<td>帰属していない</td>
							<td>\(x \notin A\)</td>
							<td>x \notin A</td>
						</tr>
						<tr>
							<td>部分集合</td>
							<td>\(A \subset B\)</td>
							<td>A \subset B</td>
						</tr>
						<tr>
							<td>部分集合2</td>
							<td>\(A \subseteq B\)</td>
							<td>A \subseteq B</td>
						</tr>
						<tr>
							<td>上位集合</td>
							<td>\(A \supset B\)</td>
							<td>A \supset B</td>
						</tr>
						<tr>
							<td>上位集合2</td>
							<td>\(A \supseteq B\)</td>
							<td>A \supseteq B</td>
						</tr>
						<tr>
							<td>部分集合でない</td>
							<td>\(A \not \subset B\)</td>
							<td>A \not \subset B</td>
						</tr>
						<tr>
							<td>真の部分集合</td>
							<td>\(A \subsetneq B\)</td>
							<td>A \subsetneq B</td>
						</tr>
						<tr>
							<td>集合の交わり</td>
							<td>\(A \cap B\)</td>
							<td>A \cap B</td>
						</tr>
						<tr>
							<td>集合の結び</td>
							<td>\(A \cup B\)</td>
							<td>A \cup B</td>
						</tr>
						<tr>
							<td>空集合</td>
							<td>\(\varnothing\)</td>
							<td>\varnothing</td>
						</tr>
						<tr>
							<td>補集合</td>
							<td>\(\overline{A}\)</td>
							<td>\overline{A}</td>
						</tr>
						<tr>
							<td>自然数全体の集合</td>
							<td>\(\mathbb{N}\)</td>
							<td>\mathbb{N}</td>
						</tr>
						<tr>
							<td>整数全体の集合</td>
							<td>\(\mathbb{Z}\)</td>
							<td>\mathbb{Z}</td>
						</tr>
						<tr>
							<td>有理数全体の集合</td>
							<td>\(\mathbb{Q}\)</td>
							<td>\mathbb{Q}</td>
						</tr>
						<tr>
							<td>実数全体の集合</td>
							<td>\(\mathbb{R}\)</td>
							<td>\mathbb{R}</td>
						</tr>
						<tr>
							<td>複素数全体の集合</td>
							<td>\(\mathbb{C}\)</td>
							<td>\mathbb{C}</td>
						</tr>
						<tr>
							<td>含意</td>
							<td>\(P \Rightarrow Q\)</td>
							<td>P \Rightarrow Q</td>
						</tr>
						<tr>
							<td>含意2</td>
							<td>\(P \implies Q\)</td>
							<td>P \implies Q</td>
						</tr>
						<tr>
							<td>含意(逆)</td>
							<td>\(P \Leftarrow Q\)</td>
							<td>P \Leftarrow Q</td>
						</tr>
						<tr>
							<td>含意(逆)2</td>
							<td>\(P \impliedby Q\)</td>
							<td>P \Limpliedby Q</td>
						</tr>
						<tr>
							<td>同値</td>
							<td>\(P \Leftrightarrow Q\)</td>
							<td>P \Leftrightarrow Q</td>
						</tr>
						<tr>
							<td>同値2</td>
							<td>\(P \iff Q\)</td>
							<td>P \iff Q</td>
						</tr>
						<tr>
							<td>順列</td>
							<td>\(_n \mathrm{P}_k\)</td>
							<td>_n \mathrm{P}_k</td>
						</tr>
						<tr>
							<td>組合せ</td>
							<td>\(_n \mathrm{C}_k\)</td>
							<td>_n \mathrm{C}_k</td>
						</tr>
						<tr>
							<td>階乗</td>
							<td>\(n!\)</td>
							<td>n!</td>
						</tr>
						<tr>
							<td>総和(シグマ)</td>
							<td>\(\displaystyle \sum_{i=1}^n a_i\)</td>
							<td>\displaystyle \sum_{i=1}^n a_i</td>
						</tr>
						<tr>
							<td>べき乗</td>
							<td>\(2^3\)</td>
							<td>2^3</td>
						</tr>
						<tr>
							<td>べき乗(複数字)</td>
							<td>\(e^{i\pi}\)</td>
							<td>e^{i\pi}</td>
						</tr>
						<tr>
							<td>平方根</td>
							<td>\(\sqrt{\mathstrut a}+\sqrt{\mathstrut b}\)</td>
							<td>sqrt{\mathstrut a}+\sqrt{\mathstrut b}</td>
						</tr>
						<tr>
							<td>べき根</td>
							<td>\(\sqrt[n]{x}\)</td>
							<td>\sqrt[n]{x}</td>
						</tr>
						<tr>
							<td>対数</td>
							<td>\(\log x\)</td>
							<td>\log x</td>
						</tr>
						<tr>
							<td>対数(底)</td>
							<td>\(\log_{a}x\)</td>
							<td>\log_{a}x</td>
						</tr>
						<tr>
							<td>角度</td>
							<td>\(90^{\circ}\)</td>
							<td>90^{\circ}</td>
						</tr>
						<tr>
							<td>円周率</td>
							<td>\(\pi\)</td>
							<td>\pi</td>
						</tr>
						<tr>
							<td>角記号</td>
							<td>\(\angle A\)</td>
							<td>\angle A</td>
						</tr>
						<tr>
							<td>平行</td>
							<td>\(AB /\!/ CD\)</td>
							<td>AB /\!/ CD</td>
						</tr>
						<tr>
							<td>垂直</td>
							<td>\(AB \perp CD\)</td>
							<td>AB \perp CD</td>
						</tr>
						<tr>
							<td>三角形</td>
							<td>\(\triangle ABC\)</td>
							<td>\triangle ABC</td>
						</tr>
						<tr>
							<td>四角形</td>
							<td>\(\Box ABCD\)</td>
							<td>\Box ABCD</td>
						</tr>
						<tr>
							<td>弧</td>
							<td>\(\stackrel{\huge\frown}{AB}\)</td>
							<td>\stackrel{\huge\frown}{AB}</td>
						</tr>
						<tr>
							<td>正弦</td>
							<td>\(\sin x\)</td>
							<td>\sin x</td>
						</tr>
						<tr>
							<td>余弦</td>
							<td>\(\cos x\)</td>
							<td>\cos x</td>
						</tr>
						<tr>
							<td>正接</td>
							<td>\(\tan x\)</td>
							<td>\tan x</td>
						</tr>
						<tr>
							<td>複素数</td>
							<td>\(a+bi\)</td>
							<td>a+bi</td>
						</tr>
						<tr>
							<td>共役複素数</td>
							<td>\(\bar{z}\)</td>
							<td>\bar{z}</td>
						</tr>
						<tr>
							<td>1の3乗根</td>
							<td>\(\omega\)</td>
							<td>\omega</td>
						</tr>
						<tr>
							<td>極限</td>
							<td>\(\displaystyle \lim_{n\to\infty} f_n(x)\)</td>
							<td>\displaystyle \lim_{n\to\infty} f_n(x)</td>
						</tr>
						<tr>
							<td>微分(ライプニッツ)</td>
							<td>\(\frac{dy}{dx}\)</td>
							<td>\frac{dy}{dx}</td>
						</tr>
						<tr>
							<td>微分(ラグランジュ)</td>
							<td>\(f'(x)\)</td>
							<td>f'(x)</td>
						</tr>
						<tr>
							<td>積分</td>
							<td>\(\displaystyle \int_{-\infty}^{\infty}f(x)dx\)</td>
							<td>\displaystyle \int_{-\infty}^{\infty}f(x)dx</td>
						</tr>
						<tr>
							<td>積分サンプル</td>
							<td>\begin{eqnarray}
\int_0^1 x dx
= \left[ \frac{x^2}{2} \right]_0^1
= \frac{1}{2}
\end{eqnarray}</td>
							<td>\\begin{eqnarray}<br>
\int_0^1 x dx<br>
= \left[ \frac{x^2}{2} \right]_0^1<br>
= \frac{1}{2}<br>
\\end{eqnarray}</td>
						</tr>
						<tr>
							<td>ベクトル</td>
							<td>\(\vec{a}\)</td>
							<td>\vec{a}</td>
						</tr>
						<tr>
							<td>ベクトル(2文字)</td>
							<td>\(\overrightarrow{AB}\)</td>
							<td>\overrightarrow{AB}</td>
						</tr>
						<tr>
							<td>上付き・下付き文字</td>
							<td>\(a_{d}^{u}\)</td>
							<td>a_{d}^{u}</td>
						</tr>
						<tr>
							<td>ギリシャ文字</td>
							<td>\begin{eqnarray}
\alpha\beta\gamma \\
\delta\varepsilon \\
\theta\mu\pi\rho\phi\omega \\
\Delta
\end{eqnarray}</td>
							<td>\alpha\beta\gamma<br>\delta\varepsilon<br>\theta\mu\pi\rho\phi\omega<br>\Delta</td>
						</tr>
						<tr>
							<td>空白いろいろ</td>
							<td>\(a \ b \quad c \qquad d\)</td>
							<td>a \ b \quad c \qquad d</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>//LaTeX
	function latexevent(input, output) {
		const latexCode = input.value;
		const formatted = latexCode.replace(/\n/g, "<br>");
		output.innerHTML = `${formatted}`;
		MathJax.typesetClear();
		MathJax.typesetPromise([output]);
	}

	const content = document.getElementById("content");
	const preview = document.getElementById("preview");
	let debounceTimer;
	const debounceDelay = 1000;
	content.addEventListener("input", () => {
		clearTimeout(debounceTimer);
		debounceTimer = setTimeout(() => {
			latexevent(content, preview);
		}, debounceDelay);
	});

	const explanation = document.getElementById("explanation");
	const preview2 = document.getElementById("preview2");
	let debounceTimer2;
	explanation.addEventListener("input", () => {
		clearTimeout(debounceTimer2);
		debounceTimer2 = setTimeout(() => {
			latexevent(explanation, preview2);
		}, debounceDelay);
	});

	const unitMap = {
		"数学Ⅰ": ["数と式", "2次関数", "集合と命題", "図形と計量", "データの分析"],
		"数学Ａ": ["場合の数", "確率", "図形の性質", "整数"],
		"数学Ⅱ": ["式と計算", "高次方程式", "図形と方程式", "三角関数", "指数関数と対数関数", "微分法", "積分法"],
		"数学Ｂ": ["数列", "確率分布と統計的な推測"],
		"数学Ⅲ": ["極限", "微分法", "積分法"],
		"数学Ｃ": ["平面ベクトル", "空間ベクトル", "複素数平面", "式と曲線"]
	};

	const categorySelect = document.getElementById("category");
	const unitSelect = document.getElementById("unit");

	categorySelect.addEventListener("change", () => {
		const selectedCategory = categorySelect.value;
		const units = unitMap[selectedCategory] || [];

		unitSelect.innerHTML = '<option disabled selected value="">単元を選択してください</option>';
		units.forEach(unit => {
			const option = document.createElement("option");
			option.value = unit;
			option.textContent = unit;
			unitSelect.appendChild(option);
		});
	});
	
	const latexCode = "\\(\\text{sample}\\)\n2次方程式\\(\\ ax^2+bx+c=0\\ (a\\neq 0)\\ \\)の解は\\[\\ x=\\frac{-b\\pm\\sqrt{b^2-4ac}}{2a} \\ \\]である。\\[\\int_{-\\infty}^{\\infty} e^{-x^2} \\, dx = \\sqrt{\\pi}\\]";
	const formatted = latexCode.replace(/\n/g, "<br>");
	preview.innerHTML = `${formatted}`;
	MathJax.typesetClear();
	MathJax.typesetPromise();

</script>
{% endblock %}