<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>画像処理中</title>
</head>
<body>
	<h1>画像処理中</h1>
	<p>
		画像を処理しています。しばらくお待ちください。<br>完了次第自動でリダイレクトします。
	</p>
	<script>
		if ("{{ path }}"!="") {
			document.addEventListener('DOMContentLoaded', function() {
				const jsonData = {
					path: '{{ path }}'
				};

				fetch('{{ url_for("math.processing") }}', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-Requested-With': 'XMLHttpRequest'
					},
					body: JSON.stringify(jsonData)
				})
				.then(response => {
					if (!response.ok) {
						throw new Error('サーバーエラーが発生しました');
					}
					return response.json();
				})
				.then(data => {
					window.location.href = '{{ url_for("math.post", path=path) }}';
				})
				.catch(error => {
					console.error('エラーが発生しました:', error);
					alert('処理中にエラーが発生しました。ページを更新してもう一度お試しください。');
				});
			});
		};
	</script>
</body>
</html>