
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">意味</th>
			<th scope="col">表示</th>
			<th scope="col">コマンド</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>循環小数</td>
			<td>\(0.\dot{0}\dot{9}\)</td>
			<td>0.\dot{0}\dot{9}</td>
		</tr>
		<tr>
			<td>平方根</td>
			<td>\(\sqrt{x}\)</td>
			<td>\sqrt{x}</td>
		</tr>
		<tr>
			<td>無限大</td>
			<td>\(\infty\)</td>
			<td>\infty</td>
		</tr>
		<tr>
			<td>絶対値</td>
			<td>\(\left|x\right|\)</td>
			<td>\left|x\right|</td>
		</tr>
		<tr>
			<td>ガウス記号</td>
			<td>\([x]\)</td>
			<td>[x]</td>
		</tr>
		
		<tr>
			<td>足す・引く</td>
			<td>\(a+b-c\)</td>
			<td>a+b-c</td>
		</tr>
		<tr>
			<td>掛ける</td>
			<td>\(a \times b\)</td>
			<td>a \times b</td>
		</tr>
		<tr>
			<td>割る</td>
			<td>\(a \div b\)</td>
			<td>a \div b</td>
		</tr>
		<tr>
			<td>プラスマイナス</td>
			<td>\(\pm a\)</td>
			<td>\pm a</td>
		</tr>
		<tr>
			<td>マイナスプラス</td>
			<td>\(\mp a\)</td>
			<td>\mp a</td>
		</tr>
		<tr>
			<td>掛ける</td>
			<td>\(a \cdot b\)</td>
			<td>a \cdot b</td>
		</tr>
		<tr>
			<td>分数</td>
			<td>\(\dfrac{a}{b}\)</td>
			<td>\dfrac{a}{b}</td>
		</tr>
		<tr>
			<td>合同式</td>
			<td>\(a \equiv b \pmod n\)</td>
			<td>a \equiv b \pmod n</td>
		</tr>
		<tr>
			<td>大なり</td>
			<td>\(a \gt b\)</td>
			<td>a \gt b</td>
		</tr>
		<tr>
			<td>大なりイコール</td>
			<td>\(a \geq b\)</td>
			<td>a \geq b</td>
		</tr>
		<tr>
			<td>小なり</td>
			<td>\(a \lt b\)</td>
			<td>a \lt b</td>
		</tr>
		<tr>
			<td>小なりイコール</td>
			<td>\(a \leq b\)</td>
			<td>a \leq b</td>
		</tr>
		<tr>
			<td>等しくない</td>
			<td>\(a \neq b\)</td>
			<td>a\neq b</td>
		</tr>
		<tr>
			<td>ほぼ等しい</td>
			<td>\(a \simeq b\)</td>
			<td>a \simeq b</td>
		</tr>
		<tr>
			<td>改行</td>
			<td>\begin{eqnarray}
aaa \\
bbb
\end{eqnarray}</td>
			<td>\\begin{eqnarray}<br>
aaa \\\\<br>
bbb<br>
\\end{eqnarray}</td>
		</tr>
		<tr>
			<td>位置合わせ</td>
			<td>\begin{eqnarray}
x + 2x &=& 3 \\
x &=& 1
\end{eqnarray}</td>
			<td>\\begin{eqnarray}<br>
x + 2x &=& 3 \\\\<br>
x &=& 1<br>
\\end{eqnarray}</td>
		</tr>
		<tr>
			<td>連立方程式</td>
			<td>\begin{eqnarray}
  \left\{
	\begin{array}{l}
	  x + y = 10 \\
	  2x + 4y = 32
	\end{array}
  \right.
\end{eqnarray}</td>
			<td>\\begin{eqnarray}<br>
  \left\{<br>
	\\begin{array}{l}<br>
	  x + y = 10 \\\\<br>
	  2x + 4y = 32<br>
	\\end{array}<br>
  \right.<br>
\\end{eqnarray}</td>
		</tr>
		<tr>
			<td>場合分け</td>
			<td>\begin{eqnarray}
\left|x\right|
 =
  \begin{cases}
	x & ( x \geqq 0 ) \\
	-x & ( x \lt 0 )
  \end{cases}
\end{eqnarray}</td>
			<td>\\begin{eqnarray}<br>
\left|x\right|<br>
 =<br>
  \\begin{cases}<br>
	x & ( x \geqq 0 ) \\\\<br>
	-x & ( x \lt 0 )<br>
  \\end{cases}<br>
\end{eqnarray}</td>
		</tr>
		<tr>
			<td>帰属関係</td>
			<td>\(x \in A\)</td>
			<td>x \in A</td>
		</tr>
		<tr>
			<td>帰属関係2</td>
			<td>\(A \ni x\)</td>
			<td>A \ni x</td>
		</tr>
		<tr>
			<td>帰属していない</td>
			<td>\(x \notin A\)</td>
			<td>x \notin A</td>
		</tr>
		<tr>
			<td>部分集合</td>
			<td>\(A \subset B\)</td>
			<td>A \subset B</td>
		</tr>
		<tr>
			<td>部分集合2</td>
			<td>\(A \subseteq B\)</td>
			<td>A \subseteq B</td>
		</tr>
		<tr>
			<td>上位集合</td>
			<td>\(A \supset B\)</td>
			<td>A \supset B</td>
		</tr>
		<tr>
			<td>上位集合2</td>
			<td>\(A \supseteq B\)</td>
			<td>A \supseteq B</td>
		</tr>
		<tr>
			<td>部分集合でない</td>
			<td>\(A \not \subset B\)</td>
			<td>A \not \subset B</td>
		</tr>
		<tr>
			<td>真の部分集合</td>
			<td>\(A \subsetneq B\)</td>
			<td>A \subsetneq B</td>
		</tr>
		<tr>
			<td>集合の交わり</td>
			<td>\(A \cap B\)</td>
			<td>A \cap B</td>
		</tr>
		<tr>
			<td>集合の結び</td>
			<td>\(A \cup B\)</td>
			<td>A \cup B</td>
		</tr>
		<tr>
			<td>空集合</td>
			<td>\(\varnothing\)</td>
			<td>\varnothing</td>
		</tr>
		<tr>
			<td>補集合</td>
			<td>\(\overline{A}\)</td>
			<td>\overline{A}</td>
		</tr>
		<tr>
			<td>自然数全体の集合</td>
			<td>\(\mathbb{N}\)</td>
			<td>\mathbb{N}</td>
		</tr>
		<tr>
			<td>整数全体の集合</td>
			<td>\(\mathbb{Z}\)</td>
			<td>\mathbb{Z}</td>
		</tr>
		<tr>
			<td>有理数全体の集合</td>
			<td>\(\mathbb{Q}\)</td>
			<td>\mathbb{Q}</td>
		</tr>
		<tr>
			<td>実数全体の集合</td>
			<td>\(\mathbb{R}\)</td>
			<td>\mathbb{R}</td>
		</tr>
		<tr>
			<td>複素数全体の集合</td>
			<td>\(\mathbb{C}\)</td>
			<td>\mathbb{C}</td>
		</tr>
		<tr>
			<td>含意</td>
			<td>\(P \Rightarrow Q\)</td>
			<td>P \Rightarrow Q</td>
		</tr>
		<tr>
			<td>含意2</td>
			<td>\(P \implies Q\)</td>
			<td>P \implies Q</td>
		</tr>
		<tr>
			<td>含意(逆)</td>
			<td>\(P \Leftarrow Q\)</td>
			<td>P \Leftarrow Q</td>
		</tr>
		<tr>
			<td>含意(逆)2</td>
			<td>\(P \impliedby Q\)</td>
			<td>P \Limpliedby Q</td>
		</tr>
		<tr>
			<td>同値</td>
			<td>\(P \Leftrightarrow Q\)</td>
			<td>P \Leftrightarrow Q</td>
		</tr>
		<tr>
			<td>同値2</td>
			<td>\(P \iff Q\)</td>
			<td>P \iff Q</td>
		</tr>
		<tr>
			<td>順列</td>
			<td>\(_n \mathrm{P}_k\)</td>
			<td>_n \mathrm{P}_k</td>
		</tr>
		<tr>
			<td>組合せ</td>
			<td>\(_n \mathrm{C}_k\)</td>
			<td>_n \mathrm{C}_k</td>
		</tr>
		<tr>
			<td>階乗</td>
			<td>\(n!\)</td>
			<td>n!</td>
		</tr>
		<tr>
			<td>総和(シグマ)</td>
			<td>\(\displaystyle \sum_{i=1}^n a_i\)</td>
			<td>\displaystyle \sum_{i=1}^n a_i</td>
		</tr>
		<tr>
			<td>べき乗</td>
			<td>\(2^3\)</td>
			<td>2^3</td>
		</tr>
		<tr>
			<td>べき乗(複数字)</td>
			<td>\(e^{i\pi}\)</td>
			<td>e^{i\pi}</td>
		</tr>
		<tr>
			<td>平方根</td>
			<td>\(\sqrt{\mathstrut a}+\sqrt{\mathstrut b}\)</td>
			<td>sqrt{\mathstrut a}+\sqrt{\mathstrut b}</td>
		</tr>
		<tr>
			<td>べき根</td>
			<td>\(\sqrt[n]{x}\)</td>
			<td>\sqrt[n]{x}</td>
		</tr>
		<tr>
			<td>対数</td>
			<td>\(\log x\)</td>
			<td>\log x</td>
		</tr>
		<tr>
			<td>対数(底)</td>
			<td>\(\log_{a}x\)</td>
			<td>\log_{a}x</td>
		</tr>
		<tr>
			<td>角度</td>
			<td>\(90^{\circ}\)</td>
			<td>90^{\circ}</td>
		</tr>
		<tr>
			<td>円周率</td>
			<td>\(\pi\)</td>
			<td>\pi</td>
		</tr>
		<tr>
			<td>角記号</td>
			<td>\(\angle A\)</td>
			<td>\angle A</td>
		</tr>
		<tr>
			<td>平行</td>
			<td>\(AB /\!/ CD\)</td>
			<td>AB /\!/ CD</td>
		</tr>
		<tr>
			<td>垂直</td>
			<td>\(AB \perp CD\)</td>
			<td>AB \perp CD</td>
		</tr>
		<tr>
			<td>三角形</td>
			<td>\(\triangle ABC\)</td>
			<td>\triangle ABC</td>
		</tr>
		<tr>
			<td>四角形</td>
			<td>\(\Box ABCD\)</td>
			<td>\Box ABCD</td>
		</tr>
		<tr>
			<td>弧</td>
			<td>\(\stackrel{\huge\frown}{AB}\)</td>
			<td>\stackrel{\huge\frown}{AB}</td>
		</tr>
		<tr>
			<td>正弦</td>
			<td>\(\sin x\)</td>
			<td>\sin x</td>
		</tr>
		<tr>
			<td>余弦</td>
			<td>\(\cos x\)</td>
			<td>\cos x</td>
		</tr>
		<tr>
			<td>正接</td>
			<td>\(\tan x\)</td>
			<td>\tan x</td>
		</tr>
		<tr>
			<td>複素数</td>
			<td>\(a+bi\)</td>
			<td>a+bi</td>
		</tr>
		<tr>
			<td>共役複素数</td>
			<td>\(\bar{z}\)</td>
			<td>\bar{z}</td>
		</tr>
		<tr>
			<td>1の3乗根</td>
			<td>\(\omega\)</td>
			<td>\omega</td>
		</tr>
		<tr>
			<td>極限</td>
			<td>\(\displaystyle \lim_{n\to\infty} f_n(x)\)</td>
			<td>\displaystyle \lim_{n\to\infty} f_n(x)</td>
		</tr>
		<tr>
			<td>微分(ライプニッツ)</td>
			<td>\(\frac{dy}{dx}\)</td>
			<td>\frac{dy}{dx}</td>
		</tr>
		<tr>
			<td>微分(ラグランジュ)</td>
			<td>\(f'(x)\)</td>
			<td>f'(x)</td>
		</tr>
		<tr>
			<td>積分</td>
			<td>\(\displaystyle \int_{-\infty}^{\infty}f(x)dx\)</td>
			<td>\displaystyle \int_{-\infty}^{\infty}f(x)dx</td>
		</tr>
		<tr>
			<td>積分サンプル</td>
			<td>\begin{eqnarray}
\int_0^1 x dx
= \left[ \frac{x^2}{2} \right]_0^1
= \frac{1}{2}
\end{eqnarray}</td>
			<td>\\begin{eqnarray}<br>
\int_0^1 x dx<br>
= \left[ \frac{x^2}{2} \right]_0^1<br>
= \frac{1}{2}<br>
\\end{eqnarray}</td>
		</tr>
		<tr>
			<td>ベクトル</td>
			<td>\(\vec{a}\)</td>
			<td>\vec{a}</td>
		</tr>
		<tr>
			<td>ベクトル(2文字)</td>
			<td>\(\overrightarrow{AB}\)</td>
			<td>\overrightarrow{AB}</td>
		</tr>
		<tr>
			<td>上付き・下付き文字</td>
			<td>\(a_{d}^{u}\)</td>
			<td>a_{d}^{u}</td>
		</tr>
		<tr>
			<td>ギリシャ文字</td>
			<td>\begin{eqnarray}
\alpha\beta\gamma \\
\delta\varepsilon \\
\theta\mu\pi\rho\phi\omega \\
\Delta
\end{eqnarray}</td>
			<td>\alpha\beta\gamma<br>\delta\varepsilon<br>\theta\mu\pi\rho\phi\omega<br>\Delta</td>
		</tr>
		<tr>
			<td>空白いろいろ</td>
			<td>\(a \ b \quad c \qquad d\)</td>
			<td>a \ b \quad c \qquad d</td>
		</tr>
	</tbody>
</table>